*:focus {
  outline: none;
}

body {
  margin: 0;
  //overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  background-color: var(--bg);
  text-align: left;
  color: #f8f9fa;
  border-top: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: var(--grad);
  height: 100%;
}

@media only screen and (max-width: 768px) {
  html, body {
    overflow-x: hidden;
  }
}

.content {
  min-height: 75vh;
}

#app {
  color: var(--body-color);
}

a {
  color: var(--body-color);
  text-decoration: none;
}

header {
  margin-bottom: 2rem;
  display: grid;
  justify-content: center;
}

.page-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--body-color);
}

::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #293347;
}

::-webkit-scrollbar-thumb {
  background-color: #E6ECF8;
}

// Sticky cards
.card:first-child {
  margin-top: 20px;
}

@for $i from 1 through 8 {
  .grid .card:nth-child(#{$i}n) {
    top: $i * 40px !important;
    //position: sticky;
  }
}

@for $i from 1 through 8 {
  .grid .card:nth-child(#{$i}n) {
    h2 {
      padding-left: $i * 10%;
    }
  }
}

.grid .card:nth-child(1) {
  background: linear-gradient(#041830, #080117) !important;
  color: white !important;
}
.grid .card:nth-child(2) {
  background: linear-gradient(90deg, #41b782, #86d169) !important;
  color: #1f1c28 !important;

}

.grid .card:nth-child(3) {
  //background: linear-gradient(#8269be,#835ec2)!important;
  //background:linear-gradient(#47133c, #4e1277)!important;
  background: linear-gradient(#a4508b 0%, #5f0a87 74%) !important;
  color: white !important;
}


.grid {
  margin-bottom: 2rem;
}

// Find Me on:
.social-dev::before {
  width: 100vw;
  z-index: -1;

  overflow-y: hidden;
  content: "";
  height: 12rem;
  background: var(--grad);
  opacity: 5%;
  position: absolute;
  left: 0;
}

.social-dev {
  z-index: 1;
  width: 100%;
  //margin: 0 auto;
  height: 12rem;
  display: block;
  padding: 1rem;
  margin-bottom: 1rem;
  left: 0;
  //background: var(--bg-transparent);
  h3 {
    font-size: 2rem;
    line-height: 0;
    padding-top: 0.5rem
  }

  ul {
    display: inline-flex;

    li {
      list-style: none;
      margin: 0 1rem;
      //display: inline-flex;
      a {
        font-size: 2rem;
      }
    }
  }
}

.box {
  margin: 2rem auto;
  text-align: left;
}

// Skills table

//.skillh{
//  padding-top: 1rem;
//}
.cskill {
  padding-top: 2rem;
  padding-bottom: 2rem;


  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
    padding: 0.2rem;

    margin: 0 auto;
    display: block;
    text-align: center;

    &::before {
      //content: "⚜";
      //padding-right: 4rem;
      position: relative;

    }
  }

}

.rskill .cskill:first-child {
  li {
    list-style-type: none;
    padding: 0.1rem;
    margin: 0 auto;
    display: inline-block;

    &::before {
      content: "⚓";
      padding-right: 0.4rem;
      padding-left: 0.6rem;
    }
  }
}


.rskill .cskill:last-child {
  border-right: none;
  border-bottom: none;
}

.iskill {
  font-size: 64px !important;
  color: rgba(255, 255, 255, 0.026);
  text-shadow: none;
  //text-align: center !important;
}

.iskill::before {
  font-size: 64px;
  //text-align: center !important;
  margin: 0 auto;
  background: linear-gradient(150deg, #b054d8 0, #364e86 100%);
  background-clip: text;
  -webkit-background-clip: text;
  display: initial; /* reset Font Awesome's display:inline-block */
}

.rskill h3 {
  font-size: 2rem;
}

.rskill h4 {
  font-size: 1.5rem;
}

.rskill h2,
.rskill h3,
.rskill h4 {
  //font-family: 'Amatic SC', cursive;
}

.rskill {
  background-color: var(--bg-teritary);
  border-radius: 15px;
  //box-shadow: 0 5px 5px 0 rgba(10, 10, 10, 0.5),0 0 0 1px #131418;
  box-shadow: var(--bshadow);
  line-height: 1.2rem;
}

.htb div {
  margin: 0 auto;
  margin-top: 10px;
}

@media only screen and (max-width: 968px) {
  .cskill {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--border-color);
  }
}

@media only screen and (min-width: 968px) {
  .cskill {
    border-bottom: 0px solid var(--border-color);
    border-right: 1px solid var(--border-color);
  }
}

// Footer

@media only screen and (min-width: 980px) {
  footer {
    line-height: 0.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .madeby {
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
  }
}

@media only screen and (max-width: 768px) {
  .madeby {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }
  .socalinks {
    margin-bottom: 2rem;
  }
}

.madeby {
  font-size: 1.5rem;
  //margin: 0;
  //padding: 0;
  //line-height: 1.4rem;
}

.madeby .vue {
  width: 22px;
}

.madeby .itzik {
  font-size: 2rem;
  font-family: 'Gochi Hand', cursive;
  display: inline-block;
  //line-height: 2rem;
  margin-block-end: 0;
  margin-block-start: 0;
}

footer {
  background-color: var(--bg-teritary);
  //height: 5rem;
  display: block;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: var(--grad)
}

.container {
  //max-width: 960px;
  // margin: 0 auto;
}

footer .container, .row {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.socalinks {
  text-align: center !important;
  font-size: 2rem;
}

.socalinks a {
  margin-left: 10px;
  position: relative;
  top: 25px
}

.viewn {
  margin-top: 0.8rem;
}

.git {
  padding: 0;
}

.fb:hover {
  color: #3B5998 !important;
  text-decoration: none;
}

.fb:active {
  color: #3B5998 !important;
  text-decoration: none;
}

.yt:hover {
  color: #AA000E !important;
  text-decoration: none;
}

.yt:active {
  color: #AA000E !important;
  text-decoration: none;
}

.lin:hover {
  color: #4875B4 !important;
  text-decoration: none;
}

.lin:active {
  color: #4875B4 !important;
  text-decoration: none;
}


.grid {
  display: grid;
  gap: 2rem;
}

.card {
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 40px;
  padding-top: 0 !important;
  flex-direction: column;
  background: #1f1c28;
  color: #1f1c28;
  position: sticky;
  top: 10px;
}

.card h2 {
  margin: 0 !important;
  text-align: left;
}

@media only screen and (min-width: 968px) {
  .stinker .card-text {
    width: 45%;
  }
}

.card-text {
  margin-top: 2rem;
  display: inline-block;
  flex-direction: column;
  text-align: left;
}

.card-links {
  display: flex-root;
  text-align: center;
}

.card-links a {
  padding: 2.5rem;
  display: inline-flex;
  align-content: center;
  align-self: center;
  align-items: center;
  text-align: center
}

.card-links a i {
  font-size: 2.5rem !important;
  /*padding: 1rem;*/
  color: #fff !important;
}

.card-links a .g-image {
  height: 2.6rem;
  width: auto;
  justify-content: center;
  align-self: center;
  align-items: center;
  color: #fff;
}

.card-links a svg {
  align-items: center;
  align-self: center;
  align-content: center;
  top: 4px !important;
  position: relative;
}

.card-text p {
  flex-direction: column;
}

.card-screenshot {
  border-radius: 25px;
  height: -webkit-fill-available;
  min-height: 100%;
  width: 45%;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  object-fit: contain;
  z-index: -1;
  overflow: hidden hidden;
}

.card-screenshot img{
  height: auto;
  width: auto;
  //max-height: 55vh;
  object-fit: cover;
  //max-width: 50%;
}


.card,.stinker {
  background: linear-gradient(#34485f, #141824) !important;
  display: grid;
  color: white !important;
  text-align: left;
  margin-bottom: 3.5rem;
}
.vork {
  background: linear-gradient(90deg, #41b782, #86d169) !important;
  color: #1f1c28 !important;
}

.vork .card-screenshot img {
  float: right;
  height: inherit;
  border-radius: 20px;
}

.stinker .card-text {
  max-width: 50%;
}

@media only screen and (max-width: 768px) {
  .stinker .card-text{
    max-width: 100%;
  }

  .stinker .card-screenshot {
    display: none;
  }
}