*:focus {
    outline: none;
}

body {
  margin: 0;
  //overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  background-color: var(--bg);
  text-align: left;
  color: #f8f9fa;
  border-top: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: var(--grad);
  height: 100%;
}

@media only screen and (max-width: 768px) {
  html,body {
    overflow-x: hidden;
  }
}

.content {
  min-height: 75vh;
}
#app {
  color: var(--body-color);
}

a {
  color: var(--body-color);
  text-decoration: none;
}

header {
  margin-bottom: 2rem;
}

.page-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  color:var(--body-color);
}

::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #293347;
}

::-webkit-scrollbar-thumb {
  background-color: #E6ECF8;
}

// Find Me on:
  .social-dev::before {
    width: 100vw;
    z-index: -1;

    overflow-y: hidden;
    content: "";
    height: 12rem;
    background: var(--grad);
    opacity: 25%;
    position: absolute;
    left: 0;
  }
.social-dev {
  z-index: 1;
  width: 100%;
  //margin: 0 auto;
  height: 12rem;
  display: block;
  padding: 1rem;
  margin-bottom: 1rem;
  left: 0;
  //background: var(--bg-transparent);
  h3{ font-size: 2rem; line-height: 0; padding-top: 0.5rem}
  ul {
    display: inline-flex;
    li {
      list-style: none;
      margin: 0 1rem;
      //display: inline-flex;
        a {
          font-size: 2rem;
        }
    }
  }
}

.box {
  max-width: 50%;
  margin: 2rem auto;
  text-align: left;
}

// Skills table
.skillp {
  //text-align: left;
}
.liskill {
  display: inline-block!important;
  white-space: nowrap;
  padding-right: 0.2rem;
}

.liskill:before {
  content: "  • ";
}

.liskill.nob:after {
  content: none;
}

//.skillh{
//  padding-top: 1rem;
//}
.cskill {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.cskill li {
  list-style-type: none;
  padding: 0.2rem;
  display: block;
}

.rskill .cskill:last-child {
  border-right: none;
  border-bottom: none;
}

.iskill {
  font-size: 64px !important;
  color: rgba(255, 255, 255, 0.026);
  text-shadow: none;
  //text-align: center !important;
}

.iskill::before {
  font-size: 64px;
  //text-align: center !important;
  margin: 0 auto;
  background: linear-gradient(150deg, #b054d8 0, #364e86 100%);
  background-clip: text;
  -webkit-background-clip: text;
  display: initial; /* reset Font Awesome's display:inline-block */
}
.rskill h3 {
  font-size: 2rem;
}
.rskill h4 {
  font-size: 1.5rem;
}
.rskill h2,
.rskill h3,
.rskill h4 {
  //font-family: 'Amatic SC', cursive;
}

.rskill {
  background-color: var(--bg-teritary);
  border-radius: 15px;
  //box-shadow: 0 5px 5px 0 rgba(10, 10, 10, 0.5),0 0 0 1px #131418;
  box-shadow: var(--bshadow);
  line-height: 1.2rem;
}

.htb div {
  margin: 0 auto;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .cskill {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--border-color);
  }
}

@media only screen and (min-width: 768px) {
  .cskill {
    border-bottom: 0px solid var(--border-color);
    border-right: 1px solid var(--border-color);
  }
}

// Footer

@media only screen and (min-width: 980px) {
  footer {
    line-height: 0.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .madeby {
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
  }
}

@media only screen and (max-width: 768px) {
  .madeby {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }
  .socalinks {
    margin-bottom: 2rem;
  }
}

.madeby {
  font-size: 1.5rem;
  //margin: 0;
  //padding: 0;
  //line-height: 1.4rem;
}

.madeby .vue {
  width: 22px;
}
.madeby .itzik{
  font-size: 2rem;
  font-family: 'Gochi Hand', cursive;
  display: inline-block;
  //line-height: 2rem;
  margin-block-end: 0;
  margin-block-start: 0;
}
footer {
  background-color: var(--bg-teritary);
  //height: 5rem;
  display: block;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: var(--grad)
}
footer .container,.row {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.socalinks {
  text-align: center !important;
  font-size: 2rem;
}

.socalinks a {
  margin-left: 10px;
  position: relative;
  top: 25px
}

.viewn {
  margin-top: 0.8rem;
}
.git {
  padding: 0;
}
.fb:hover {
  color: #3B5998 !important;
  text-decoration: none;
}

.fb:active {
  color: #3B5998 !important;
  text-decoration: none;
}

.yt:hover {
  color: #AA000E !important;
  text-decoration: none;
}

.yt:active {
  color: #AA000E !important;
  text-decoration: none;
}

.lin:hover {
  color: #4875B4 !important;
  text-decoration: none;
}

.lin:active {
  color: #4875B4 !important;
  text-decoration: none;
}